<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stiles/stile.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>
            Добро пожаловать в *!
        </h1>
        <p>
            Удобное веб-приложение для обмена книг.
        </p>
    </div>
    <div class="container">
        
        <img class="schm" src="{{ url_for('static' , filename='img/scheme.svg') }}" >
        <a href="{{ url_for('login') }}">
            <img class="btn" src="{{ url_for('static' , filename='img/button.svg') }}" alt="button" >     
        </a>
    </div>
</body>
</html>